html {
  height: 100%;
}

body {
  height: 100%;
  color: lavender;
}

header {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 35%;
}

.homepage-hero-module, .video-container {
  height: 100%;
  width: 100%;
}

.video-container .filter {
    z-index: -10;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -100;
}

section, footer {
  background: rgba(0, 0, 0, 0.5);
  padding: 3em;
  margin-bottom: 10em;
}


.myWork {
  margin-top: 2em;
}

.about-me-article {
  font-size: 1.5em;
}

#social {
  margin-top: 3em;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.5);
}
